{% load static %}

{%include "base.html"%}
{%include "header.html"%}

    <main>
        <h1 style="font-size: 60px;padding-top: 30px;font-family: Comic Sans MS, Comic Sans, cursive;color: rgb(47, 5, 114);" class="h1">YOU PROBABLY WANT TO LOOK AT MY WORK</h1>
        <P style="font-family: 'Times New Roman', Times, serif;font-size: 50px;text-align: center;font-weight:900;"><mark>Let's GO!</mark></P>
        <p style="font-family: URW Chancery L, cursive;font-size: 30px;text-align: center;padding: 2% 2%;color: rgb(24, 45, 85);">Myself <b>Sri Harsha</b>, an ex-KVian.I'm from Hyderabad,Telangana.I'm currently pursing computer science in IIITB.I'm basically timid in the company of other people and one of a kind whos hunger to learn and explore new things never dies :)</p>
        <div>
            <P style="font-family: URW Chancery L, cursive;text-align: center;font-size: 40px;color: rgb(119, 25, 25);"><b>I have a few skills like:</b></P>
            <ul style="font-family: cursive;font-size: 20px;text-align: center;color: rgb(3, 59, 3);">
                <li>A begineer in keyboard instument</li>
                <li>A cuber (Learnt upto 7X7 and a few other like mirror,pyramid)</li>
                <li>I'm into drawing and painting and completed it's course till oil painting</li>
                <li>I'm a Quaran(Though they are lame) and you can refer them <a href="https://www.quora.com/profile/Sri-Harsha-G-2" target="_blank">here</a></li>
            </ul>
        </div>
        <img src="{%static '/css/images/1.jpg'%}" class="img" id="one">
        <img src="{%static '/css/images/2.jpg'%}" class="img" id="two">
        <img src="{%static '/css/images/3.jpg'%}"class="img" id="three">
        <img src="{%static '/css/images/4.jpg'%}" class="img" id="four">
        <img src="{%static '/css/images/piano.jpg'%}" class="img" id="piano">
        <img src="{%static '/css/images/5.jpg'%}" class="img" id="five">
        <div>
        <p style="font-family: URW Chancery L, cursive;text-align: center;font-size: 45px;margin-top: 5%;color: rgb(119, 25, 25);"><b>Currently I'm into the following:</b></p>
        <ul style="font-family: cursive;font-size: 20px;text-align: center;color: rgb(3, 59, 3);">
            <li>Building websites (Like the ones you are currently viewing)</li>
            <li>Animating videos using <a href="https://github.com/3b1b/manim" target="_blank">Manim</a>.You can <a href="https://github.com/GSri30/Maths_animations" target="_blank">refer</a> my github account</li>
            <li>Learning <a href="https://github.com/GSri30/pygame" target="_blank">Pygame</a></li>
            <li>Learning Java Script to build atleast some <i>lame games</i></li>
        </ul>
        </div>
        <img src="{%static 'css/images/tic.png'%}" class="img" id="tic">
        <img src="{%static 'css/images/air.png'%}" class="img" id="air">
        <img src="{%static 'css/images/web.png'%}" class="img" id="web">
        <a href="https://animations.fossee.in/video/42" target="_blank"><img src="{%static 'css/images/cauchy.png'%}" class="img" id="cauchy"></a>
        <img src="{%static 'css/images/noncauchy.png'%}" class="img" id="noncauchy">
        <p style="font-family:Arial Narrow, sans-serif ;text-align: center;font-size: 40px;margin-top: 5%;"><mark><b> Still exploring my interest..!</b></mark></p>
    </main>

{%include "footer.html"%}
