{% load static %}
<footer>
<p class="headings">USEFUL LINKS <span class="headings"> CONTACT ME</span></p>
<p><a href="../" class="links" id="foot">Home</a> 
    <span class="icon">
    <a href="https://github.com/GSri30/" target="_blank"><img src="{% static '/css/images/github.png' %}" alt="Github" width="30px" class="icons"></a>&nbsp;    
    <a href="https://www.quora.com/profile/Sri-Harsha-G-2" target="_black"><img src="{% static '/css/images/quora.png' %}" alt="Quora" width="30px" class="icons"></a>&nbsp;
    <a href="https://twitter.com/SriHarshaG6" target="_blank"><img src="{% static '/css/images/twitter.png' %}" alt="Twitter" width="30px" class="icons"></a>&nbsp;
    </span>
</p>
<p><a href="https://gsri30.github.io/" target="_blank" class="links" id="foot">About Me</a>
    <span class="icon">
    <a href="https://www.facebook.com/profile.php?id=100006387729055" target="_blank"><img src="{% static '/css/images/facebook.svg' %}" alt="Facebook" width="30px" class="icons"></a> &nbsp;
    <a href="https://www.instagram.com/gsri_30/" target="_blank"><img src="{% static '/css/images/instagram.png' %}" alt="Instagram" width="30px" class="icons"></a>&nbsp;
    <a href="https://www.linkedin.com/in/sri-harsha-g-15534a18a/" target="_blank"><img src="{% static '/css/images/linkedin.png' %}" alt="Linkedin" width="30px" class="icons"></a>&nbsp;
    </span>
</p>
</footer>