{%include 'base.html'%}
{%include 'header.html'%}

<a href="active/" class="currently">Currenty Active</a>

{% if messages %}
    <div class="message">
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
    </div>
{% endif %}

<div style="padding-bottom: 780px;">
{%for data in objectt%}
    {% if data.username == user.username %}
            <div class="list1 common" onclick="window.location.href = ''">
                <p><u><b>ITEM_TITLE</b></u></p>
                <p> {{data.product_title}}</p>
                <p><u><b>PLACE</b></u></p>
                <p>{{data.place}}</p>
                <p><u><b>DATE</b></u></p>
                <p>{{data.date}}</p>
                <p><u><b>TIME</b></u></p>
                <p>{{data.time}}</p>
                <p><u><b>ITEM_DESCRIPTION</b></u></p>
                <p>{{data.description}}</p>
                <p><u><b>CONTACT</b></u></p>
                <p>{{data.contactme}}</p>
                <br>
            </div>
        
        <!-- <div class="list1 common" onclick="alreadyDeletd()">
            <p><u><b>ITEM_TITLE</b></u></p>
            <p> {{data.product_title}}</p>
            <p><u><b>PLACE</b></u></p>
            <p>{{data.place}}</p>
            <p><u><b>DATE</b></u></p>
            <p>{{data.date}}</p>
            <p><u><b>TIME</b></u></p>
            <p>{{data.time}}</p>
            <p><u><b>ITEM_DESCRIPTION</b></u></p>
            <p>{{data.description}}</p>
            <p><u><b>CONTACT</b></u></p>
            <p>{{data.contactme}}</p>
            <br>
            <p style="margin-left: 86%;font-family: 'Times New Roman', Times, serif;color: rgb(1, 95, 1);"><b>You already found it's owner!</b></p>
        </div> -->
    {% endif %}
{% endfor %}
</div>

{% include 'footer.html' %}

<script>
    function alreadyDeletd() {
      alert("You have already found it's owner!");
    }
</script>
    